* {
    padding: 0;
    margin: 0;
}

body {
    background-color: yellow !important;
}

.fat p {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #000000;
    margin: 15px 15px;
}